*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url('../images/BackgroundProfile.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;      
}
.profile-box{
    background-color: black;
    text-align: center;
    padding: 40px 90px;
    color: white;
    position: relative;
    border-radius: 20px;
}
.menu-icon{
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}
.setting-icon{
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
}
.profile-pic{
    width: 150px;
    border-radius: 50%;
    background-color: white;
    padding: 6px;
    margin-top: 40px;
}